{% extends 'master/layouts.html' %} 
{% load static %} 
{% load widget_tweaks %}

{% block resource_content %}
<link rel="stylesheet" href="{% static "/organization/css/organization.css" %}">
{% endblock %} 

{% block container_content %}
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                {% if type == 1 %}
                Create
                {% else %}
                Modify
                {% endif %}
                Orgnization
            </h1>
        </div>
        <hr>
    </div>
</div>
    
<div class="container-fluid padding"> 
    <div class="row col-center-block">    
        <form action="/organization/new/" method="POST">
            {% csrf_token %}
            <p class="p-sm-padding"><label for="id_{{ form.name.label }}">{{ form.name.label | upper }}</label></p>
            <p>{{ form.name }}</p>

            <p class="p-sm-padding"><label for="id_{{ form.manager_name.label }}">{{ form.manager_name.label | upper }}</label></p>
            <p>{{ form.manager_name }}</p>

            <p class="p-sm-padding"><label for="id_{{ form.manager_alias.label }}">{{ form.manager_alias.label | upper }}</label></p>
            <p>{{ form.manager_alias }}</p>

            <p class="p-sm-padding"><label for="id_{{ form.manager_email.label }}">{{ form.manager_email.label | upper }}</label></p>
            <p>{{ form.manager_email }}</p>

            <p class="p-sm-padding"><label for="id_{{ form.parent_org.label }}">{{ form.parent_org.label | upper }}</label></p>
            <p>{{ form.parent_org }}</p>

            <p class="p-sm-padding"><label for="id_{{ form.skills.label }}">{{ form.skills.label | upper }}</label></p>
            <p>{{ form.skills }}</p>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}