{% extends 'master/layouts.html' %} 
{% load static %} 
{% load widget_tweaks %}

{% block resource_content %}
<link rel="stylesheet" href="{% static "/organization/css/organization.css" %}">
{% endblock %} 

{% block container_content %}
<div class="container-fluid padding">
    <div class="row welcome text-center">        
        <div class="col-12">
            <h1 class="display-4">Organizations <a href="{% url 'organization_new' %}" class="btn btn-link create-btn">New</a></h1>            
        </div>
        <hr>
    </div>
</div>
    
<div class="container-fluid padding">     
    <div class="row padding lr-padding-50">    
        {% for org in orgs %}
        <div class="col-md-3">
            {% if org.parent_org == None %}
            <div class="card card-header-bg-azure border-dark mb-3">
            {% else %}
            <div class="card bg-light border-dark mb-3">
            {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ org.name }}</h5>
                    {% if org.parent_org != None %}
                    <p class="card-text">
                        <i>{{ org.parent_org }}</i>
                    </p>
                    {% endif %}
                </div>

                <ul class="list-group list-group-flush">                    
                    <li class="list-group-item"><code>Manager: </code>{{ org.manager_name }} ({{ org.manager_alias }})</li>
                    <li class="list-group-item"><code>Email: </code>{{ org.manager_email }}</li>
                    <li class="list-group-item">
                        <code>
                        {% for tag in org.skills.all %}
                        <u>{{ tag }}</u>
                        {% endfor %}
                        </code>
                    </li>
                    <li class="list-group-item text-left">
                        <a href="{% url 'organization_modify' org.id %}" class="btn btn-link no-padding-left no-padding-top no-padding-bottom">Modify</a>
                        <a href="{% url 'organization_delete' org.id %}" class="btn btn-link no-padding-left no-padding-top no-padding-bottom">Delete</a>
                    </li>
                </ul>
            </div>
        </div> 
        {% endfor %}       
    </div>
</div>
{% endblock %}