{% extends 'master/layouts.html' %} 
{% load static %} 
{% load widget_tweaks %}

{% block resource_content %}
<link rel="stylesheet" href="{% static "/question/css/question.css" %}">

<script src="{% static '/question/js/question.js' %}"></script>

{% endblock %} 

{% block container_content %}
<div class="container-fluid padding">
    <div class="row welcome text-center">        
        <div class="col-12">
            <h1 class="display-4">Questions <a href="{% url 'question_new' %}" class="btn btn-link create-btn">New</a></h1>            
        </div>
        <hr>
    </div>
</div>
    
<div class="container-fluid padding">     
    <div class="row padding lr-padding-50">    
        {% for question in questions %}
        <div class="col-md-6">
            <div class="card card-header-bg-azure border-dark">            
                <div class="card-body">
                    <h5 class="card-title">{{ question.question_body }}</h5>                    
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><code>Level: </code>{{ question.get_level_display }}</li>
                    <li class="list-group-item">
                        <code>
                        {% for tag in question.tags.all %}
                        <u>{{ tag }}</u>
                        {% endfor %}
                        </code>
                    </li>
                    <li class="list-group-item text-left">
                        <a href="" class="btn btn-link no-padding-left no-padding-top no-padding-bottom">View</a>
                        <a href="{% url 'question_modify' question.id %}" class="btn btn-link no-padding-left no-padding-top no-padding-bottom">Modify</a>
                        <a href="{% url 'question_delete' question.id %}" class="btn btn-link no-padding-left no-padding-top no-padding-bottom">Delete</a>
                    </li>
                </ul>   
            </div>
        </div> 
        {% endfor %}       
    </div>
</div>
{% endblock %}