{% extends 'master/layouts.html' %} 
{% load static %} 
{% load widget_tweaks %}

{% block resource_content %}
<link rel="stylesheet" href="{% static "/question/css/question.css" %}">
{% endblock %} 

{% block container_content %}
<div class="container-fluid padding">
    <div class="row welcome text-center">        
        <div class="col-12">
            <h1 class="display-4">Questions <a href="{% url 'question_new' %}" class="btn btn-link create-btn">New</a></h1>            
        </div>
        <hr>
    </div>
</div>
    
<div class="container-fluid padding">     
    <div class="row padding lr-padding-50">    
        
    </div>
</div>
{% endblock %}